<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="mbanje.kurt.todo">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme"
        >

        <activity
            android:name=".ui.TodoActivity"
            android:label="@string/todo_list_action_title"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:authorities="@string/authority_todo"
            android:name=".TodoProvider"
            android:exported="false"
            />

        <provider
            android:exported="false"
            android:authorities="@string/authority_test"
            android:name="mbanje.kurt.test.TestProvider"/>
    </application>

</manifest>
